@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #000000;
  --color-primary-foreground: #ffffff;
}

@layer base {
  body {
    @apply antialiased;
  }
}

